#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include <input/processors.dtsi>
#include <dt-bindings/zmk/bt.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#include <dt-bindings/zmk/pointing.h>

#define scroll 10
#define temporary 11
#define snipe 12

/ {
    combos {
        compatible = "zmk,combos";

        combo_layer4 {
            layers = <0 1 2>;
            timeout-ms = <50>;
            key-positions = <34 35>;
            bindings = <&mo 4>;
            slow-release;
        };
        combo_scroller {
            layers = <0 11>;
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&mo 10>;
            slow-release; 
        };
    };
};

/ {
keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                           &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
                           &mt LCTRL A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &mt RCTRL ENTER
                           &mt LSHIFT Z &kp X &kp C &kp V &kp B &kp N &kp M &mkp LCLK &mkp RCLK &mt RSHIFT SLASH
                           &kp LCTRL &kp LSHIFT &kp LALT &mt LGUI LANG2 &lt 1 SPACE &lt 2 TAB &lt 3 BSPC &mt RGUI LANG1 &kp RSHIFT &kp ESC
            >;
        };
        layer_1 {
            display-name = "Layer 1";
            bindings = <
                           &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp N1 &kp N2 &kp N3 &kp N0 &none
                           &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp N4 &kp N5 &kp N6 &kp KP_PLUS &kp KP_MINUS
                           &kp F11 &kp F12 &kp F13 &kp F14 &kp F15 &kp N7 &kp N8 &kp N9 &kp KP_MINUS &kp SLASH
                           &none &none &none &none &none &none &kp KP_MINUS &kp DOT &none &none
            >;
        };
        layer_2 {
            display-name = "Layer 2";
            bindings = <
                           &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp N1 &kp N2 &kp N3 &kp N0 &none
                           &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp N4 &kp N5 &kp N6 &kp KP_PLUS &kp KP_MINUS
                           &kp F11 &kp F12 &kp F13 &kp F14 &kp F15 &kp N7 &kp N8 &kp N9 &kp KP_MINUS &kp SLASH
                           &none &none &none &none &none &none &kp KP_MINUS &kp DOT &none &none
            >;
        };
        layer_3 {
            display-name = "Layer 3";
            bindings = <
                           &none &none &none &none &none &kp RC(LEFT) &kp HOME &kp UP &kp END &kp RC(RIGHT)
                           &none &none &none &none &none &kp RC(RG(LEFT)) &kp LEFT &kp DOWN &kp RIGHT &kp RC(RG(RIGHT))
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &none &none &none
            >;
        };
        layer_4 {
            display-name = "Layer 4";
            bindings = <
                           &none &none &none &none &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &none &none &none
            >;
        };
       scroll { // scroll Layer
            display-name = "scroll Layer";
            bindings = <
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &none &none &none
            >;
        };
        temporary { // temporary Layer
            display-name = "temporary Layer";
            bindings = <
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &mkp LCLK &mkp RCLK &none
                           &none &none &none &none &none &mo snipe &none &none &none &none
            >;
        };
        snipe { // snipe Layer
            display-name = "snipe Layer";
            bindings = <
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &none &none &none
                           &none &none &none &none &none &none &none &mkp LCLK &mkp RCLK &none
                           &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};

